[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
coverage = "*"
ipykernel = "*"
click = "*"
jupyter-console = "*"
colorama = "*"
tabulate = "*"
insights-core = {editable = true, ref = "commands", git = "https://github.com/amorenoz/insights-core.git"}
rich = "*"
ovsdbapp = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
